doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet', href='css/main.css')
    
  body

    
    
    
    
    
    main#barba-wrapper
      .barba-container(data-namespace="contact")
        a(href="index.html") 
          |main
          img(src="media/img-p/1.jpg", alt="")
        a(href="about.html") 
          | about
          img(src="media/img-p/2.jpg", alt="")
        a(href="contact.html")
          |contact
          img(src="media/img-p/1.jpg", alt="")
        .container-fluid
          .row
            .col-md-6
              h1  Contact page
              
              
              h3   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis similique magnam architecto minus enim, ab, neque alias. Asperiores nemo, fuga.

              h4   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quod incidunt architecto ad minus iusto laudantium id tempora adipisci consequatur!
              h5   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate similique sequi maiores quis molestias omnis, quae laboriosam accusamus est ad.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nihil, dolor cupiditate. Modi nam quia veniam dolore consequuntur odit, nisi ipsum ut necessitatibus fugiat dolorem incidunt maiores inventore, tempore iusto debitis unde sed, porro saepe tempora architecto. Molestias, iste, explicabo.
            .col-sm-6
              img(src="media/img-p/3.jpg", alt="")
              
              h6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias totam in numquam explicabo perferendis sed tenetur minima nam! Illum voluptatem facilis, velit suscipit, deleniti impedit assumenda consequuntur accusamus temporibus vitae, autem obcaecati doloremque. Dolorem sit maiores harum. Iure aliquam provident accusamus tempore illum, eveniet aperiam consequatur voluptates odio possimus vitae!
              


    
    
    
    
    
    
    
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js")
    script(src="vendor/barba.min.js")
    script(src="js/app.js")
    
    
  